[submodule "FRONT"]
	path = FRONT
	url = git@github.com:git-gud-ndli/front-end.git
[submodule "API"]
	path = API
	url = git@github.com:git-gud-ndli/front-end.git
[submodule "DEPLOYMENT"]
	path = DEPLOYMENT
	url = git@github.com:git-gud-ndli/deployment.git
